<div id="head-subtitle">
  <div class="container-fluid">
    <div class="head">
      <h2>Toma de pedidos / Confirmación</h2>
    </div>
  </div>
</div>
<div id="confirmacion">
  <div class="head">
    <div class="container-fluid text-center">
      <p>458565</p>
      <p>Alcimar Farm E.I.R.L. / BOTICA ALCIMARS</p>
    </div>
  </div>
  <div class="container">
    <div class="cen-width">
      <div class="felicidades"><img class="float-right" src="assets/img/icon-confirmacion.svg">
        <h5>Felicitaciones !</h5>
        <p>Tu pedido P0001 ha sido procesado exitosamente.</p>
      </div>
      <div class="listado-productos">
        <div class="head-resumen-total">
          <div class="row">
            <div class="col">
              <p>Venta Bruta: S/. 135.57</p>
              <p>Dcto Total: S/. 237</p>
            </div>
            <div class="col text-right">
              <p>Impuesto: S/. 23.97</p>
              <p>Total Neto: S/.157.17 </p>
            </div>
          </div>
        </div>
        <div class="box-cp">
          <div class="row">
            <div class="col">
              <h6>465341 ALIPRAC PV ORAL CAJ X 06</h6>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Pos 100 </p>
              <p>Cant 1</p>
              <p>UM ST</p>
              <p>Cant. ATP 135.000</p>
            </div>
            <div class="col">
              <p>Pos. Sub 0.00</p>
              <p>Tipo Pos ZCOM</p>
              <p>Precio Base 126.85</p>
              <p>Valor Descuento </p>
            </div>
            <div class="col">
              <p>Dcto Total % 0.00</p>
              <p>Precio F UN</p>
              <p>Precio F FIN</p>
              <p>Impuesto 0</p>
              <p>Total Neto 0</p>
            </div>
          </div>
        </div>
        <div class="box-cp">
          <div class="row">
            <div class="col">
              <h6>465341 ALIPRAC PV ORAL CAJ X 06</h6>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Pos 101 </p>
              <p>Cant 1</p>
              <p>UM ST</p>
              <p>Cant. ATP 135.000</p>
            </div>
            <div class="col">
              <p>Pos. Sub 100.00</p>
              <p>Tipo Pos ZP01</p>
              <p>Precio Base 126.85</p>
              <p>Valor Descuento </p>
            </div>
            <div class="col">
              <p>Dcto Total % 0.00</p>
              <p>Precio F UN</p>
              <p>Precio F FIN</p>
              <p>Impuesto 22.83</p>
              <p>Total Neto 149.68</p>
            </div>
          </div>
        </div>
        <div class="box-cp box-cp-last">
          <div class="row">
            <div class="col">
              <h6>465341 ALIPRAC PV ORAL CAJ X 06</h6>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Pos 200 </p>
              <p>Cant 1</p>
              <p>UM ST</p>
              <p>Cant. ATP 3,994.000</p>
            </div>
            <div class="col">
              <p>Pos. Sub 0.00</p>
              <p>Tipo Pos ZP01</p>
              <p>Precio Base 8.72</p>
              <p>Valor Descuento -2.37 </p>
            </div>
            <div class="col">
              <p>Dcto Total % 0.00</p>
              <p>Precio F UN</p>
              <p>Precio F FIN</p>
              <p>Impuesto 1.14</p>
              <p>Total Neto 7.49</p>
            </div>
          </div>
        </div>
        <br><br><br><br><br><br>
      <!--  <div class="extras">
          <div class="float-left">
            <div class="shared"><i class="fas fa-share-alt"></i><a href=""><i class="fab fa-whatsapp"></i></a></div>
          </div>
          <div class="confirmacion-total float-right">
            <p class="txt-green">Total Neto:  S/.600.00</p>
          </div>
        </div>-->
      </div>
    </div>
    <!--<div class="btn-edit-prod fixed-480"><a href="index.html">FINALIZAR</a></div>-->
    <div class="btn-confirmar fixed-480">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <p class="txt-green  neto">Total Neto: <strong>S/.157.17</strong> </p>
          </div>
          <div class="col-6">
            <a routerLink="/" routerLinkActive="active">FINALIZAR</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>