<div class="inicio-opciones">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-6">
          <div class="btn-circulo"><a routerLink="/clientes" routerLinkActive="active"><img src="assets/img/b1.svg"></a>
            <h2>Toma de Pedido</h2>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="btn-circulo"><a routerLink="/borradores" routerLinkActive="active"><img src="assets/img/b2.svg"></a>
            <h2>Borradores</h2>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="btn-circulo"><a routerLink="/pedidos-enviados" routerLinkActive="active"><img src="assets/img/b3.svg"></a>
            <h2>Pedidos Enviados</h2>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="btn-circulo"><a href="#"><img src="assets/img/b4.svg"></a>
            <h2>Estado de pedidos</h2>
          </div>
        </div>
      </div>
    </div>
  </div>