<div id="head-subtitle">
  <div class="container-fluid">
    <div class="row">
      <div class="col-7">
        <div class="head"><a routerLink="/detalles-pedido/1" routerLinkActive="active"><i class="fas fa-arrow-left"></i></a>
          <h2> Toma de Pedido / Elegir productos</h2>
        </div>
      </div>
      <div class="col-5">
        <div class="icons-product float-right"><a routerLink="/editar-producto/1" routerLinkActive="active"><img src="assets/img/icon-edit-inactive.svg"></a><a routerLink="/detalles-pedido/1" routerLinkActive="active"><img src="assets/img/icon-agregar.svg"></a></div>
      </div>
    </div>
  </div>
</div>
<div class="search">
  <div class="container-fluid">
    <div class="input-group">
      <input class="form-control" id="txtbuscar" type="text" placeholder="Buscar por codigo, nombre o linea"><span class="input-group-btn">
        <button class="btn btn-green" id="buscar" type="button"><i class="fa fa-search" aria-hidden="true"></i><span class="glyphicon glyphicon-search"></span></button></span>
    </div>
    <div class="customers">
      <div class="cust-route">
        <h3>Productos sugerido</h3>
      </div>
    </div>
  </div>
</div>
<div id="products-list">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-12">
       <div class="block-prod">
          <div>
            <div class="row">
              <div class="col-10">
                <div class="bloque-prod">
                  <h6>64545 - BACTRIM F 800mg/160mg 100COMP.</h6>
                  <p>Linea: 011A -Abboutt Nutricional</p>
                </div>
              </div>
              <div class="pick-modal">
              <a class="modal-img" data-toggle="modal" data-target="#image1"><img src="assets/img/icon-img.svg"></a>
                <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#regalo"><img src="assets/img/regalo.svg"></button>
              </div>
            </div>
            <div class="row">
              <div class="img-prod">
                <div style="background-color: #fff; width: 100px; height: 80px; padding: 10px; margin-top: 10px;">
                  <img src="assets/img/bactrim-f.jpg">
                </div>                  
              </div>
              <div class="col data-prod">
                <hr>
                <div class="row">
                  <div class="col-4">
                    <p>Dcto Tot R: 12.85%</p>
                    <p>Dcto Q: 11.00%</p>
                    <p>Dcto Tot: 22.44%</p>
                  </div>
                  <div class="col-4">
                    <p>P Lista: 206.42</p>
                    <p>P Final: 160.11</p>
                    <p class="green-esmrld">Master pack: 1</p>
                  </div>
                  <div class="col-4 cantidad"> 
                    <div class="form-group">
                      <input class="form-group-input" type="text" required="">
                      <label class="form-group-label">Cantidad</label>
                      <div class="form-group-line"></div>
                    </div>
                  </div>
                </div>
                <div class="row pdt-15">
                  <div class="col-4">
                    <p>1119-0001</p>
                  </div>
                  <div class="col-4">
                    <p>Disp.: 273.0</p>
                  </div>
                  <div class="col-4">
                    <p>Tránsito: 0.0 </p>
                  </div>
                </div>                  
              </div>                  
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="block-prod">
          <div>
            <div class="row">
              <div class="col-10">
                <div class="bloque-prod">
                  <h6>465341 - REPRIMAN 500 MG COMP X 100</h6>
                  <p>Linea: 011A -Abboutt Nutricional</p>
                </div>
              </div>
              <div class="pick-modal">
              <a class="modal-img" data-toggle="modal" data-target="#image2"><img src="assets/img/icon-img.svg"></a>
                <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#regalo"><img src="assets/img/regalo.svg"></button>
              </div>
            </div>
            <div class="row">
              <div class="img-prod">
                <div style="background-color: #fff; width: 100px; height: 80px; padding: 10px; margin-top: 10px;">
                  <img src="assets/img/repriman.jpg">
                </div>                  
              </div>
              <div class="col data-prod">
                <hr>
                <div class="row">
                  <div class="col-4">
                    <p>Dcto Tot R: 12.85%</p>
                    <p>Dcto Q: 11.00%</p>
                    <p>Dcto Tot: 22.44%</p>
                  </div>
                  <div class="col-4">
                    <p>P Lista: 206.42</p>
                    <p>P Final: 160.11</p>
                    <p class="green-esmrld">Master pack: 100</p>
                  </div>
                  <div class="col-4 cantidad"> 
                    <div class="form-group">
                      <input class="form-group-input" type="text" required="">
                      <label class="form-group-label">Cantidad</label>
                      <div class="form-group-line"></div>
                    </div>
                  </div>
                </div>
                <div class="row pdt-15">
                  <div class="col-4">
                    <p>1119-0001</p>
                  </div>
                  <div class="col-4">
                    <p>Disp.: 273.0</p>
                  </div>
                  <div class="col-4">
                    <p>Tránsito: 0.0 </p>
                  </div>
                </div>                  
              </div>                  
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
       <div class="block-prod">
          <div>
            <div class="row">
              <div class="col-10">
                <div class="bloque-prod">
                  <h6>53434 - Dexacort 1 Mg Tabletas</h6>
                  <p>Linea: 011A -Abboutt Nutricional</p>
                </div>
              </div>
              <div class="pick-modal">
              <a class="modal-img" data-toggle="modal" data-target="#image3"><img src="assets/img/icon-img.svg"></a>
                <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#regalo"><img src="assets/img/regalo.svg"></button>
              </div>
            </div>
            <div class="row">
              <div class="img-prod">
                <div style="background-color: #fff; width: 100px; height: 80px; padding: 10px; margin-top: 10px;">
                  <img src="assets/img/dexacort.jpg">
                </div>                  
              </div>
              <div class="col data-prod">
                <hr>
                <div class="row">
                  <div class="col-4">
                    <p>Dcto Tot R: 12.85%</p>
                    <p>Dcto Q: 11.00%</p>
                    <p>Dcto Tot: 22.44%</p>
                  </div>
                  <div class="col-4">
                    <p>P Lista: 206.42</p>
                    <p>P Final: 160.11</p>
                    <p class="green-esmrld">Master pack: 1</p>
                  </div>
                  <div class="col-4 cantidad"> 
                    <div class="form-group">
                      <input class="form-group-input" type="text" required="">
                      <label class="form-group-label">Cantidad</label>
                      <div class="form-group-line"></div>
                    </div>
                  </div>
                </div>
                <div class="row pdt-15">
                  <div class="col-4">
                    <p>1119-0001</p>
                  </div>
                  <div class="col-4">
                    <p>Disp.: 273.0</p>
                  </div>
                  <div class="col-4">
                    <p>Tránsito: 0.0 </p>
                  </div>
                </div>                  
              </div>                  
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
       <div class="block-prod">
          <div>
            <div class="row">
              <div class="col-10">
                <div class="bloque-prod">
                  <h6>75453 - CETIRIZINA 10mg 1501</h6>
                  <p>Linea: 011A -Abboutt Nutricional</p>
                </div>
              </div>
              <div class="pick-modal">
              <a class="modal-img" data-toggle="modal" data-target="#image4"><img src="assets/img/icon-img.svg"></a>
                <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#regalo"><img src="assets/img/regalo.svg"></button>
              </div>
            </div>
            <div class="row">
              <div class="img-prod">
                <div style="background-color: #fff; width: 100px; height: 80px; padding: 10px; margin-top: 10px;">
                  <img src="assets/img/cetirizina.jpg">
                </div>                  
              </div>
              <div class="col data-prod">
                <hr>
                <div class="row">
                  <div class="col-4">
                    <p>Dcto Tot R: 12.85%</p>
                    <p>Dcto Q: 11.00%</p>
                    <p>Dcto Tot: 22.44%</p>
                  </div>
                  <div class="col-4">
                    <p>P Lista: 206.42</p>
                    <p>P Final: 160.11</p>
                    <p class="green-esmrld">Master pack: 1</p>
                  </div>
                  <div class="col-4 cantidad"> 
                    <div class="form-group">
                      <input class="form-group-input" type="text" required="">
                      <label class="form-group-label">Cantidad</label>
                      <div class="form-group-line"></div>
                    </div>
                  </div>
                </div>
                <div class="row pdt-15">
                  <div class="col-4">
                    <p>1119-0001</p>
                  </div>
                  <div class="col-4">
                    <p>Disp.: 273.0</p>
                  </div>
                  <div class="col-4">
                    <p>Tránsito: 0.0 </p>
                  </div>
                </div>                  
              </div>                  
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
       <div class="block-prod">
          <div>
            <div class="row">
              <div class="col-10">
                <div class="bloque-prod">
                  <h6>64545 - BACTRIM F 800mg/160mg 100COMP.</h6>
                  <p>Linea: 011A -Abboutt Nutricional</p>
                </div>
              </div>
              <div class="pick-modal">
              <a class="modal-img" data-toggle="modal" data-target="#image"><img src="assets/img/icon-img.svg"></a>
                <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#regalo"><img src="assets/img/regalo.svg"></button>
              </div>
            </div>
            <div class="row">
              <div class="img-prod">
                <div style="background-color: #fff; width: 100px; height: 80px; padding: 10px; margin-top: 10px;">
                  <img src="assets/img/bactrim-f.jpg">
                </div>                  
              </div>
              <div class="col data-prod">
                <hr>
                <div class="row">
                  <div class="col-4">
                    <p>Dcto Tot R: 12.85%</p>
                    <p>Dcto Q: 11.00%</p>
                    <p>Dcto Tot: 22.44%</p>
                  </div>
                  <div class="col-4">
                    <p>P Lista: 206.42</p>
                    <p>P Final: 160.11</p>
                    <p class="green-esmrld">Master pack: 1</p>
                  </div>
                  <div class="col-4 cantidad"> 
                    <div class="form-group">
                      <input class="form-group-input" type="text" required="">
                      <label class="form-group-label">Cantidad</label>
                      <div class="form-group-line"></div>
                    </div>
                  </div>
                </div>
                <div class="row pdt-15">
                  <div class="col-4">
                    <p>1119-0001</p>
                  </div>
                  <div class="col-4">
                    <p>Disp.: 273.0</p>
                  </div>
                  <div class="col-4">
                    <p>Tránsito: 0.0 </p>
                  </div>
                </div>                  
              </div>                  
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="block-prod">
          <div>
            <div class="row">
              <div class="col-10">
                <div class="bloque-prod">
                  <h6>465341 - REPRIMAN 500 MG COMP X 100</h6>
                  <p>Linea: 011A -Abboutt Nutricional</p>
                </div>
              </div>
              <div class="pick-modal">
              <a class="modal-img" data-toggle="modal" data-target="#image"><img src="assets/img/icon-img.svg"></a>
                <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#regalo"><img src="assets/img/regalo.svg"></button>
              </div>
            </div>
            <div class="row">
              <div class="img-prod">
                <div style="background-color: #fff; width: 100px; height: 80px; padding: 10px; margin-top: 10px;">
                  <img src="assets/img/repriman.jpg">
                </div>                  
              </div>
              <div class="col data-prod">
                <hr>
                <div class="row">
                  <div class="col-4">
                    <p>Dcto Tot R: 12.85%</p>
                    <p>Dcto Q: 11.00%</p>
                    <p>Dcto Tot: 22.44%</p>
                  </div>
                  <div class="col-4">
                    <p>P Lista: 206.42</p>
                    <p>P Final: 160.11</p>
                    <p class="green-esmrld">Master pack: 100</p>
                  </div>
                  <div class="col-4 cantidad"> 
                    <div class="form-group">
                      <input class="form-group-input" type="text" required="">
                      <label class="form-group-label">Cantidad</label>
                      <div class="form-group-line"></div>
                    </div>
                  </div>
                </div>
                <div class="row pdt-15">
                  <div class="col-4">
                    <p>1119-0001</p>
                  </div>
                  <div class="col-4">
                    <p>Disp.: 273.0</p>
                  </div>
                  <div class="col-4">
                    <p>Tránsito: 0.0 </p>
                  </div>
                </div>                  
              </div>                  
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
       <div class="block-prod">
          <div>
            <div class="row">
              <div class="col-10">
                <div class="bloque-prod">
                  <h6>53434 - Dexacort 1 Mg Tabletas</h6>
                  <p>Linea: 011A -Abboutt Nutricional</p>
                </div>
              </div>
              <div class="pick-modal">
              <a class="modal-img" data-toggle="modal" data-target="#image"><img src="assets/img/icon-img.svg"></a>
                <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#regalo"><img src="assets/img/regalo.svg"></button>
              </div>
            </div>
            <div class="row">
              <div class="img-prod">
                <div style="background-color: #fff; width: 100px; height: 80px; padding: 10px; margin-top: 10px;">
                  <img src="assets/img/dexacort.jpg">
                </div>                  
              </div>
              <div class="col data-prod">
                <hr>
                <div class="row">
                  <div class="col-4">
                    <p>Dcto Tot R: 12.85%</p>
                    <p>Dcto Q: 11.00%</p>
                    <p>Dcto Tot: 22.44%</p>
                  </div>
                  <div class="col-4">
                    <p>P Lista: 206.42</p>
                    <p>P Final: 160.11</p>
                    <p class="green-esmrld">Master pack: 1</p>
                  </div>
                  <div class="col-4 cantidad"> 
                    <div class="form-group">
                      <input class="form-group-input" type="text" required="">
                      <label class="form-group-label">Cantidad</label>
                      <div class="form-group-line"></div>
                    </div>
                  </div>
                </div>
                <div class="row pdt-15">
                  <div class="col-4">
                    <p>1119-0001</p>
                  </div>
                  <div class="col-4">
                    <p>Disp.: 273.0</p>
                  </div>
                  <div class="col-4">
                    <p>Tránsito: 0.0 </p>
                  </div>
                </div>                  
              </div>                  
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
       <div class="block-prod">
          <div>
            <div class="row">
              <div class="col-10">
                <div class="bloque-prod">
                  <h6>75453 - CETIRIZINA 10mg 1501</h6>
                  <p>Linea: 011A -Abboutt Nutricional</p>
                </div>
              </div>
              <div class="pick-modal">
              <a class="modal-img" data-toggle="modal" data-target="#image"><img src="assets/img/icon-img.svg"></a>
                <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#regalo"><img src="assets/img/regalo.svg"></button>
              </div>
            </div>
            <div class="row">
              <div class="img-prod">
                <div style="background-color: #fff; width: 100px; height: 80px; padding: 10px; margin-top: 10px;">
                  <img src="assets/img/cetirizina.jpg">
                </div>                  
              </div>
              <div class="col data-prod">
                <hr>
                <div class="row">
                  <div class="col-4">
                    <p>Dcto Tot R: 12.85%</p>
                    <p>Dcto Q: 11.00%</p>
                    <p>Dcto Tot: 22.44%</p>
                  </div>
                  <div class="col-4">
                    <p>P Lista: 206.42</p>
                    <p>P Final: 160.11</p>
                    <p class="green-esmrld">Master pack: 1</p>
                  </div>
                  <div class="col-4 cantidad"> 
                    <div class="form-group">
                      <input class="form-group-input" type="text" required="">
                      <label class="form-group-label">Cantidad</label>
                      <div class="form-group-line"></div>
                    </div>
                  </div>
                </div>
                <div class="row pdt-15">
                  <div class="col-4">
                    <p>1119-0001</p>
                  </div>
                  <div class="col-4">
                    <p>Disp.: 273.0</p>
                  </div>
                  <div class="col-4">
                    <p>Tránsito: 0.0 </p>
                  </div>
                </div>                  
              </div>                  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="regalo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button class="close text-secondary" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      <div class="modal-header">
        <h5 class="modal-title titlemodal txt-green" id="exampleModalLabel">209098 <strong> - BACTRIM F 800mg/160mg 100COMP.</strong></h5>
      </div>
      <div class="modal-body">
        <p class="txt-green">Plan Comercial</p>
        <div class="container">
          <div class="row">
            <div class="col-2 pdl-5">
              <ul class="color-list">
                <li>Desde</li>
              </ul>
            </div>
            <div class="col-3">
              <ul class="color-list">
                <li>Promoción</li>
              </ul>
            </div>
            <div class="col-7">
              <ul class="color-list">
                <li>Descripción</li>
              </ul>
            </div>
          </div>
          <div class="row item-box pointer">
            <div class="col-2">
              <p class="mg-20">6</p>
            </div>
            <div class="col-3">
              <p class="mg-20">6+1UN</p>
            </div>
            <div class="col-7">
              <p>Bonifi. Col INR[212129] - [PE18308358]</p>
              <p>Vig: Hasta: 2018/10/31</p>
            </div>
          </div>
          <div class="row item-box pointer">
            <div class="col-2">
              <p class="mg-20">6</p>
            </div>
            <div class="col-3">
              <p class="mg-20">20% Dsc</p>
            </div>
            <div class="col-7">
              <p>Bonifi. Col INR[212129] - [PE18308358]</p>
              <p>Vig: Hasta: 2018/10/31</p>
            </div>
          </div>
          <div class="row item-box pointer">
            <div class="col-2">
              <p class="mg-20">6</p>
            </div>
            <div class="col-3">
              <p class="mg-20">6+1UN</p>
            </div>
            <div class="col-7">
              <p>Bonifi. Col INR[212129] - [PE18308358]</p>
              <p>Vig: Hasta: 2018/10/31</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal img-->
<div class="modal fade" id="image1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button class="close text-secondary" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      <div class="modal-header">
        <h5 class="modal-title titlemodal txt-green" id="exampleModalLabel">207198 <strong>BACTRIM F 800mg/160mg 100COMP.</strong></h5>
      </div>
      <div class="modal-body">
        <p class="txt-green">Descripcion</p>
        <div class="container">
          <img style="width: 92%;" src="assets/img/bactrim-f.jpg">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="image2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button class="close text-secondary" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      <div class="modal-header">
        <h5 class="modal-title titlemodal txt-green" id="exampleModalLabel">465341 <strong> - REPRIMAN 500 MG COMP X 100</strong></h5>
      </div>
      <div class="modal-body">
        <p class="txt-green">Descripcion</p>
        <div class="container">
          <img style="width: 92%;" src="assets/img/repriman.jpg">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="image3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button class="close text-secondary" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      <div class="modal-header">
        <h5 class="modal-title titlemodal txt-green" id="exampleModalLabel">53434 <strong> Dexacort 1 Mg Tabletas</strong></h5>
      </div>
      <div class="modal-body">
        <p class="txt-green">Descripcion</p>
        <div class="container">
          <img style="width: 92%;" src="assets/img/dexacort.jpg">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="image4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button class="close text-secondary" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      <div class="modal-header">
        <h5 class="modal-title titlemodal txt-green" id="exampleModalLabel">75453  <strong>CETIRIZINA 10mg 1501</strong></h5>
      </div>
      <div class="modal-body">
        <p class="txt-green">Descripcion</p>
        <div class="container">
          <img style="width: 92%;" src="assets/img/cetirizina.jpg">
        </div>
      </div>
    </div>
  </div>
</div>