<div id="head-subtitle">
  <div class="container-fluid">
    <div class="head">
      <h2>Toma de pedidos / Elegir Cliente</h2>
    </div>
  </div>
</div>
<div class="search">
  <div class="container">
    <div class="input-group">
      <input class="form-control" id="txtbuscar" type="text" placeholder="Buscar Cliente"><span class="input-group-btn">
        <button class="btn btn-green" id="buscar" type="button"><i class="fas fa-search" aria-hidden="true"></i><span class="glyphicon glyphicon-search"></span></button></span>
    </div>
  </div>
  <div class="customers">
    <div class="container">
      <div class="cust-route">
        <h3>Clientes planificados en ruta</h3>
      </div>
    </div>
  </div>
</div>