<br>
   <div class="back-icon"><a routerLink="/" routerLinkActive="active"><i class="fas fa-angle-left"></i> </a>Inicio</div>
   <br>

   <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0" style="position: relative;">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            5 Noviembre, 2018
          </button>

            <span class="fas fa-search">
              <span class="sr-only">Buscar..</span>
              <input type="text" class="form-control search-client" placeholder="Buscar..">
            </span>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          
          <ul class="list-group savelist">
            <li class="list-group-item"><div class="f-tec"><span>09:30</span><span><span>a.m.</span></span></div> <span class="f-desc">7 items..</span><span class="f-qua">Alcimar Form E.I.R.L / Botica Alcimars</span><div class="f-act"><i class="fas fa-edit"></i><i class="fas fa-trash-alt"></i></div></li>
            <li class="list-group-item"><div class="f-tec"><span>11:15</span><span><span>a.m.</span></span></div> <span class="f-desc">12 items..</span><span class="f-qua">Balvin Toribio Erickson / Botica Biofarma</span><div class="f-act"><i class="fas fa-edit"></i><i class="fas fa-trash-alt"></i></div></li>
            <li class="list-group-item"><div class="f-tec"><span>01:30</span><span><span>p.m.</span></span></div> <span class="f-desc">5 items..</span><span class="f-qua">Castro Esminoza Jose Gregorio / Farmacia María y Jos</span><div class="f-act"><i class="fas fa-edit"></i><i class="fas fa-trash-alt"></i></div></li>
            <li class="list-group-item"><div class="f-tec"><span>02:45</span><span><span>p.m.</span></span></div> <span class="f-desc">3 items..</span><span class="f-qua">Droguería Alko S.A.C / Droguería Alko</span><div class="f-act"><i class="fas fa-edit"></i><i class="fas fa-trash-alt"></i></div></li>
            <li class="list-group-item"><div class="f-tec"><span>05:00</span><span><span>p.m.</span></span></div> <span class="f-desc">10 items..</span><span class="f-qua">Elikar Medic E.I.R.L / Elikar Medic E.I.R.L</span><div class="f-act"><i class="fas fa-edit"></i><i class="fas fa-trash-alt"></i></div></li>
          </ul>

        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            17 Noviembre, 2018
          </button>

          <span class="fas fa-search">
            <span class="sr-only">Buscar..</span>
            <input type="text" class="form-control search-client" placeholder="Buscar..">
          </span>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          
          <ul class="list-group savelist">
            <li class="list-group-item"><div class="f-tec"><span>09:30</span><span><span>a.m.</span></span></div> <span class="f-desc">3 items..</span><span class="f-qua">Castro Esminoza Jose Gregorio / Farmacia María y Jos</span><div class="f-act"><i class="fas fa-edit"></i><i class="fas fa-trash-alt"></i></div></li>
            <li class="list-group-item"><div class="f-tec"><span>05:00</span><span><span>p.m.</span></span></div> <span class="f-desc">5 items..</span><span class="f-qua">Balvin Toribio Erickson / Botica Biofarma</span><div class="f-act"><i class="fas fa-edit"></i><i class="fas fa-trash-alt"></i></div></li>
          </ul>

        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingtree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsetree" aria-expanded="false" aria-controls="collapsetree">
            22 Noviembre, 2018
          </button>

          <span class="fas fa-search">
            <span class="sr-only">Buscar..</span>
            <input type="text" class="form-control search-client" placeholder="Buscar..">
          </span>
        </h5>
      </div>
      <div id="collapsetree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          
          <ul class="list-group savelist">
            <li class="list-group-item"><div class="f-tec"><span>09:30</span><span><span>a.m.</span></span></div> <span class="f-desc">3 items..</span><span class="f-qua">Alcimar Form E.I.R.L / Botica Alcimars</span><div class="f-act"><i class="fas fa-edit"></i><i class="fas fa-trash-alt"></i></div></li>
            <li class="list-group-item"><div class="f-tec"><span>01:00</span><span><span>p.m.</span></span></div> <span class="f-desc">5 items..</span><span class="f-qua">Balvin Toribio Erickson / Botica Biofarma</span><div class="f-act"><i class="fas fa-edit"></i><i class="fas fa-trash-alt"></i></div></li>
            <li class="list-group-item"><div class="f-tec"><span>02:45</span><span><span>p.m.</span></span></div> <span class="f-desc">3 items..</span><span class="f-qua">Droguería Alko S.A.C / Droguería Alko</span><div class="f-act"><i class="fas fa-edit"></i><i class="fas fa-trash-alt"></i></div></li>
            <li class="list-group-item"><div class="f-tec"><span>05:00</span><span><span>p.m.</span></span></div> <span class="f-desc">10 items..</span><span class="f-qua">Castro Esminoza Jose Gregorio / Farmacia María y Jos</span><div class="f-act"><i class="fas fa-edit"></i><i class="fas fa-trash-alt"></i></div></li>
          </ul>

        </div>
      </div>
    </div>
  </div>


  <div class="boton-flotante">
    <button id="m-bef"><i class="fas fa-angle-left"></i></button> <button id="m-cen">Noviembre 2018</button> <button id="m-aft"><i class="fas fa-angle-right"></i></button>
  </div>
  