<app-busqueda-cliente></app-busqueda-cliente>

<div class="container">
  <div class="cients-list">
    <div id="timeline">
      <div>
        <section class="day">
          <div class="date">
            <h3>22</h3>
            <p>Nov</p>
            <section>
              <div class="item">
                <div class="row">
                  <div class="col">
                    <div class="font-weight-bold float-left"><a routerLink="/detalles-pedido/1" routerLinkActive="active">
                        <p>58565</p></a></div>
                    <div class="float-right"><a routerLink="/detalles-cliente/1" routerLinkActive="active"><img src="assets/img/icon-info.png"></a></div>
                  </div>
                  <div class="col-12"><a routerLink="/detalles-pedido/1" routerLinkActive="active">
                      <p>ALCIMAR FARM E.I.R.L. / Botica Alcimars</p></a></div>
                  <div class="col-12 f-visita">
                    <div class="u-visita">
                      <p>F.ultima visita: 10/10/18</p>
                    </div>
                    <div class="u-pedido">
                      <p>F.ultimo pedido: 10/10/18</p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section class="day">
              <section>
                <div class="item">
                  <div class="row">
                    <div class="col">
                      <div class="font-weight-bold float-left"><a routerLink="/detalles-pedido/1" routerLinkActive="active">
                          <p>415689</p></a></div>
                      <div class="float-right"><a routerLink="/detalles-cliente/1" routerLinkActive="active"><img src="assets/img/icon-info.png"></a></div>
                      
                    </div>
                    <div class="col-12"><a routerLink="/detalles-pedido/1" routerLinkActive="active">
                        <p>BALVIN TORIBIO ERICKSON / Botica Biofarma</p></a></div>
                    <div class="col-12 f-visita">
                      <div class="u-visita">
                        <p>F.ultima visita: 10/10/18</p>
                      </div>
                      <div class="u-pedido">
                        <p>F.ultimo pedido: 10/10/18</p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </section>
            <section class="day">
              <section>
                <div class="item">
                  <div class="row">
                    <div class="col">
                      <div class="font-weight-bold float-left"><a routerLink="/detalles-pedido/1" routerLinkActive="active">
                          <p>307891 </p></a></div>
                      <div class="float-right"><a routerLink="/detalles-cliente/1" routerLinkActive="active"><img src="assets/img/icon-info.png"></a></div>
                    </div>
                    <div class="col-12"><a routerLink="/detalles-pedido/1" routerLinkActive="active">
                        <p>CASTRO ESMINOZA JOSE GREGORIO/ Farmacia </p></a></div>
                    <div class="col-12 f-visita">
                      <div class="u-visita">
                        <p>F.ultima visita: 10/10/18</p>
                      </div>
                      <div class="u-pedido">
                        <p>F.ultimo pedido: 10/10/18</p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </section>
            <section class="day">
              <section>
                <div class="item">
                  <div class="row">
                    <div class="col">
                      <div class="font-weight-bold float-left"><a routerLink="/detalles-pedido/1" routerLinkActive="active">
                          <p>458565 </p></a></div>
                      <div class="float-right"><a routerLink="/detalles-cliente/1" routerLinkActive="active"><img src="assets/img/icon-info.png"></a></div>
                    </div>
                    <div class="col-12"><a routerLink="/detalles-pedido/1" routerLinkActive="active">
                        <p>DROGUERIA ALKO S.A.C / Drogueria Alko</p></a></div>
                    <div class="col-12 f-visita">
                      <div class="u-visita">
                        <p>F.ultima visita: 10/10/18</p>
                      </div>
                      <div class="u-pedido">
                        <p>F.ultimo pedido: 10/10/18</p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </section>
            <section class="day">
              <section>
                <div class="item">
                  <div class="row">
                    <div class="col">
                      <div class="font-weight-bold float-left"><a routerLink="/detalles-pedido/1" routerLinkActive="active">
                          <p>458565 </p></a></div>
                      <div class="float-right"><a routerLink="/detalles-cliente/1" routerLinkActive="active"><img src="assets/img/icon-info.png"></a></div>
                    </div>
                    <div class="col-12"><a routerLink="/detalles-pedido/1" routerLinkActive="active">
                        <p>ELIKAR MEDIC E.I.R.L / ELIKAR MEDIC E.I.R.L</p></a></div>
                    <div class="col-12 f-visita">
                      <div class="u-visita">
                        <p>F.ultima visita: 10/10/18</p>
                      </div>
                      <div class="u-pedido">
                        <p>F.ultimo pedido: 10/10/18</p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </section>
            <section class="day">
              <section>
                <div class="item">
                  <div class="row">
                    <div class="col">
                      <div class="font-weight-bold float-left"><a routerLink="/detalles-pedido/1" routerLinkActive="active">
                          <p>58565</p></a></div>
                      <div class="float-right"><a routerLink="/detalles-cliente/1" routerLinkActive="active"><img src="assets/img/icon-info.png"></a></div>
                    </div>
                    <div class="col-12"><a routerLink="/detalles-pedido/1" routerLinkActive="active">
                        <p>ALCIMAR FARM E.I.R.L. / Botica Alcimars</p></a></div>
                    <div class="col-12 f-visita">
                      <div class="u-visita">
                        <p>F.ultima visita: 10/10/18</p>
                      </div>
                      <div class="u-pedido">
                        <p>F.ultimo pedido: 10/10/18</p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </section>
            <section class="day">
              <section>
                <div class="item">
                  <div class="row">
                    <div class="col">
                      <div class="font-weight-bold float-left"><a routerLink="/detalles-pedido/1" routerLinkActive="active">
                          <p>58565</p></a></div>
                      <div class="float-right"><a routerLink="/detalles-cliente/1" routerLinkActive="active"><img src="assets/img/icon-info.png"></a></div>
                    </div>
                    <div class="col-12"><a routerLink="/detalles-pedido/1" routerLinkActive="active">
                        <p>ALCIMAR FARM E.I.R.L. / Botica Alcimars</p></a></div>
                    <div class="col-12 f-visita">
                      <div class="u-visita">
                        <p>F.ultima visita: 10/10/18</p>
                      </div>
                      <div class="u-pedido">
                        <p>F.ultimo pedido: 10/10/18</p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </section>
            <section class="day">
              <section>
                <div class="item">
                  <div class="row">
                    <div class="col">
                      <div class="font-weight-bold float-left"><a routerLink="/detalles-pedido/1" routerLinkActive="active">
                          <p>58565</p></a></div>
                      <div class="float-right"><a routerLink="/detalles-cliente/1" routerLinkActive="active"><img src="assets/img/icon-info.png"></a></div>
                    </div>
                    <div class="col-12"><a routerLink="/detalles-pedido/1" routerLinkActive="active">
                        <p>ALCIMAR FARM E.I.R.L. / Botica Alcimars</p></a></div>
                    <div class="col-12 f-visita">
                      <div class="u-visita">
                        <p>F.ultima visita: 10/10/18</p>
                      </div>
                      <div class="u-pedido">
                        <p>F.ultimo pedido: 10/10/18</p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </section>
            <section class="day">
              <section>
                <div class="item">
                  <div class="row">
                    <div class="col">
                      <div class="font-weight-bold float-left"><a routerLink="/detalles-pedido/1" routerLinkActive="active">
                          <p>58565</p></a></div>
                      <div class="float-right"><a routerLink="/detalles-cliente/1" routerLinkActive="active"><img src="assets/img/icon-info.png"></a></div>
                    </div>
                    <div class="col-12"><a routerLink="/detalles-pedido/1" routerLinkActive="active">
                        <p>ALCIMAR FARM E.I.R.L. / Botica Alcimars</p></a></div>
                    <div class="col-12 f-visita">
                      <div class="u-visita">
                        <p>F.ultima visita: 10/10/18</p>
                      </div>
                      <div class="u-pedido">
                        <p>F.ultimo pedido: 10/10/18</p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </section>
            <section class="day">
              <section>
                <div class="item">
                  <div class="row">
                    <div class="col">
                      <div class="font-weight-bold float-left"><a routerLink="/detalles-pedido/1" routerLinkActive="active">
                          <p>58565</p></a></div>
                      <div class="float-right"><a routerLink="/detalles-cliente/1" routerLinkActive="active"><img src="assets/img/icon-info.png"></a></div>
                    </div>
                    <div class="col-12"><a routerLink="/detalles-pedido/1" routerLinkActive="active">
                        <p>ALCIMAR FARM E.I.R.L. / Botica Alcimars</p></a></div>
                    <div class="col-12 f-visita">
                      <div class="u-visita">
                        <p>F.ultima visita: 10/10/18</p>
                      </div>
                      <div class="u-pedido">
                        <p>F.ultimo pedido: 10/10/18</p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </section>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>